// Colors

$color-white: #ffffff;
$color-black: #000000;

$color-chinese-black: #171717;
$color-new-gray: #A4A4A4;
$color-oxford-blue: #11253D;
$color-platinum: #E8E8E8;
$color-white-smoke: #F5F5F5;
$color-smashed-pumpkin: #FC6D3E;

// Typography

$ff-actor: "Actor", "Arial", sans-serif;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;

// Transition
$transition300: ease-in 0.3s;
