.favorite {
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  transition: color $transition300;

  &:hover sl-icon {
    color: $color-smashed-pumpkin;
  }

  &__icon {
    width: 24px;
    height: 24px;
    color: transparent;
    stroke: $color-smashed-pumpkin;
  }
}