.btn {
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  transition: color $transition300;

  &:hover sl-icon {
    color: $color-smashed-pumpkin;
  }
}

.btn-favorite {
  &__icon {
    width: 24px;
    height: 24px;
    color: transparent;
    stroke: $color-smashed-pumpkin;
  }
}

.btn-more {
  color: $color-new-gray;

  &__icon {
    width: 24px;
    height: 4px;
  }
}