.btn {
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  transition: color $transition300;

  &:hover sl-icon {
    color: $color-smashed-pumpkin;
  }

  &--favorite sl-icon {
    width: 24px;
    height: 24px;
    color: transparent;
    stroke: $color-smashed-pumpkin;
  }

  &--more {
    color: $color-new-gray;

    & sl-icon {
      width: 24px;
      height: 4px;
    }
  }

  &--logo {
    width: 100%;
    height: 70px;
    background-color: $color-white;

    & sl-icon {
      width: 184px;
      height: 30px;
    }
  }
}







