.track-table {
  max-width: 1074px;
  padding: 35px 0;
  min-width: max-content;
  width: 100%;

  &__icon {
    display: block;
    width: 16px;
    height: 16px;
    color: $color-new-gray;
    font-size: 16px;
  }

  & th {
    text-align: left;
    color: $color-new-gray;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    padding: 10px 8px;
    border-bottom: 1px solid $color-platinum;
  }

  &__btn {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  & sl-relative-time {
    color: $color-new-gray;
  }

  & th:last-child {
    text-align: center;
    padding-left: 50px;
  }

  & td {
    padding: 0 8px;
    border-bottom: 1px solid $color-platinum;
  }
}