/* Global */
/* ------------------------------------ */
@import "global/_normalize.scss";
@import "global/_variables";
@import "global/_mixins";
@import "global/_fonts";
@import "global/_reboot";
@import "global/_container";
@import "global/_visually-hidden";

/* Blocks */
/* ------------------------------------ */
@import "blocks/_track-table";
@import "blocks/_track-card";
@import "blocks/_favorite";
@import "blocks/_points";